{{- /*  DISCUSSION DEACTIVE CLASS  */ -}}
{{- $discussionFalse := (not (.Params.discussion | default site.Params.defaultDiscussion | default true)) -}}
{{- $discussionClass := "" -}}
{{- if $discussionFalse -}}
  {{- $discussionClass = "nav__link--disable" -}}
{{- end -}}

<header class="sidebar" id="sidebar">
  <nav class="sidebar__header">
    <a href="{{ relURL site.BaseURL }}" class="brand">
      <img src="{{ relURL site.Params.logo }}" alt="Logo {{ site.Title }}" class="brand__logo">
      <em class="brand__title">{{ site.Title }}</em>
    </a>

    <button data-sidebar="sidebar" class="sidebar__btn-close">
      {{ partial "components/icon" (dict "name" "x" "class" "sidebar__btn-icon") }}
    </button>
  </nav>
  
  <div class="search-bar">
    <label class="search-form">
      <span class="sr-only">Search</span>
      <input type="search" name="searchInput" id="searchInput" class="search-form__input" placeholder="Search...">
    </label>
    <nav class="search-results"></nav>
  </div>

  {{ with site.Params.menus }}
  {{ range sort . "weight" }}
    <div class="nav">
      <strong class="nav__label">{{ .label }}</strong>
      <nav class="nav__list">
        {{ range sort .items "weight" }}
        <a 
          href="{{ .url | relURL }}" 
          class="nav__link"
            {{ with .targetBlank }}
              target="_blank"
              rel="noopener noreferrer"
            {{ end }} 
        >{{ .name }}</a>
        {{ end }}
      </nav>
    </div>
  {{ end }}
  {{ end }}
  {{ partial "components/tab-control-mobile" . }}
  {{ partial "components/theme-setting" . }}
</header>