{{ $discussion := .Params.discussion | default site.Params.defaultDiscussion | default false }}
{{ $gi := site.Params.giscusConfig }}

{{ if $discussion }}
  <h1>Talk In: {{ .Title }}</h1>
  <div
    class="discussion"
    data-repo="{{- $gi.dataRepo -}}"
    data-repo-id="{{- $gi.dataRepoId -}}"
    data-category="{{- $gi.dataCategory -}}"
    data-category-id="{{- $gi.dataCategoryId -}}"
    data-mapping="{{- $gi.dataMapping -}}"
    data-strict="{{- $gi.dataStrict -}}"
    data-reactions-enabled="{{- $gi.dataReactionsEnabled -}}"
    data-emit-metadata="{{- $gi.dataEmitMetadata -}}"
    data-input-position="{{- $gi.dataInputPosition -}}"
    data-lang="{{- site.Params.giscusLang | default site.Language.LanguageCode | default "en" -}}"
  ></div>
{{ else }}
  <h1>Discussion Disable in: {{ .Title }}</h1>
{{ end }}
