{{- $repo := site.Params.ghrepo | default "user/repo" -}}
{{- $branch := site.Params.branch | default "main" -}}
{{- $repoBasePath := .Params.repoBasePath | default "content" -}}
{{- $enableEdit := .Params.editPage | default site.Params.defaultEditPage | default true -}}

{{ define "disable_edit_page_button" }}
  <button class="nav__link nav__link--disable" title="Source Not Found or Disable on This Page">
    View Source
  </button>
  <button class="nav__link nav__link--disable" title="File Not Found or Disable on This Page">
    Edit Page
  </button>
{{ end }}

{{ if $enableEdit }}
  {{ with .File }}
    <a 
      href="https://github.com/{{- $repo -}}/blob/{{- $branch -}}/{{- $repoBasePath -}}/{{- .Path -}}?plain=1" 
      target="_blank" 
      rel="noopener noreferrer" 
      class="nav__link"
    >
      View Source
    </a>
    <a 
      href="https://github.com/{{- $repo -}}/edit/{{- $branch -}}/{{- $repoBasePath -}}/{{- .Path -}}?plain=1" 
      target="_blank" 
      rel="noopener noreferrer" 
      class="nav__link"
    >
      Edit Page
    </a>
  {{ else }}
    {{ template "disable_edit_page_button" . }}
  {{ end }}
{{ else }}
  {{ template "disable_edit_page_button" . }}
{{ end }}
