{{- /*  DISCUSSION DEACTIVE CLASS  */ -}}
{{- $discussionFalse := (not (.Params.discussion | default site.Params.defaultDiscussion | default true)) -}}
{{- $discussionClass := "" -}}
{{- if $discussionFalse -}}
  {{- $discussionClass = "tab-control__btn--disable" -}}
{{- end -}}

{{- $repo := site.Params.ghrepo | default "user/repo" -}}
{{- $branch := site.Params.branch | default "main" -}}
{{- $repoBasePath := .Params.repoBasePath | default "content" -}}
{{- $enableEdit := .Params.editPage | default site.Params.defaultEditPage | default true -}}

<nav class="tab-control">
  <div class="tab-control__col tab-control__col--start">
    <button data-tab="viewPage" class="tab-control__btn tab-control__btn--is-active">Page</button>
    <button data-tab="viewDiscussion" class="tab-control__btn {{ $discussionClass }}">Discussion</button>
  </div>
  <div class="tab-control__col tab-control__col--end">
    <button data-tab="viewHistory" class="tab-control__btn">History</button>
    {{ if $enableEdit }}
      {{ with .File }}
        <a 
          href="https://github.com/{{- $repo -}}/blob/{{- $branch -}}/{{- $repoBasePath -}}/{{- .Path -}}?plain=1" 
          target="_blank" 
          rel="noopener noreferrer" 
          class="tab-control__btn"
        >
          View Source
        </a>
        <a 
          href="https://github.com/{{- $repo -}}/edit/{{- $branch -}}/{{- $repoBasePath -}}/{{- .Path -}}?plain=1" 
          target="_blank" 
          rel="noopener noreferrer" 
          class="tab-control__btn"
        >
          Edit Page
        </a>
      {{ else }}
        {{ template "disable_edit_page_button" . }}
      {{ end }}
    {{ else }}
      {{ template "disable_edit_page_button" . }}
    {{ end }}
  </div>
</nav>

{{ define "disable_edit_page_button" }}
  <button class="tab-control__btn tab-control__btn--disable" title="Source Not Found or Disable on This Page">
    View Source
  </button>
  <button class="tab-control__btn tab-control__btn--disable" title="File Not Found or Disable on This Page">
    Edit Page
  </button>
{{ end }}