<div class="nav">
  <strong class="nav__label">Themes</strong>
  <div class="nav__list">
    <label class="nav__link nav__link--checkbox">
      <input type="checkbox" name="systemTheme" id="systemTheme"><span>Auto System</span>
    </label>
    <label class="nav__link nav__link--checkbox">
      <input type="checkbox" name="lightTheme" id="lightTheme"><span>Light</span>
    </label>
    <label class="nav__link nav__link--checkbox">
      <input type="checkbox" name="darkTheme" id="darkTheme"><span>Dark</span>
    </label>
  </div>
</div>

<div class="nav">
  <strong class="nav__label">Themes</strong>
  <div class="nav__list">
    <label class="nav__link nav__link--checkbox">
      <input type="checkbox" name="fsSmall" id="fsSmall"><span>Small</span>
    </label>
    <label class="nav__link nav__link--checkbox">
      <input type="checkbox" name="fsDefault" id="fsDefault"><span>Default</span>
    </label>
    <label class="nav__link nav__link--checkbox">
      <input type="checkbox" name="fsLarge" id="fsLarge"><span>Large</span>
    </label>
  </div>
</div>
