<div class="nav">
  <strong class="nav__label">Themes</strong>
  <div class="nav__list">
    <label class="nav__link nav__link--checkbox nav__link--theme">
      <input type="checkbox" name="theme" data-theme="system" /><span>Auto System</span>
    </label>
    <label class="nav__link nav__link--checkbox nav__link--theme">
      <input type="checkbox" name="theme" data-theme="light" /><span>Light</span>
    </label>
    <label class="nav__link nav__link--checkbox nav__link--theme">
      <input type="checkbox" name="theme" data-theme="dark" /><span>Dark</span>
    </label>
  </div>
</div>

<div class="nav">
  <strong class="nav__label">Font Size</strong>
  <div class="nav__list">
    <label class="nav__link nav__link--checkbox nav__link--font-size">
      <input type="checkbox" name="fontSize" data-size="small" /><span>Small</span>
    </label>
    <label class="nav__link nav__link--checkbox nav__link--font-size">
      <input type="checkbox" name="fontSize" data-size="default" /><span>Default</span>
    </label>
    <label class="nav__link nav__link--checkbox nav__link--font-size">
      <input type="checkbox" name="fontSize" data-size="large" /><span>Large</span>
    </label>
    <label class="nav__link nav__link--checkbox nav__link--font-size">
      <input type="checkbox" name="fontSize" data-size="extra" /><span>Extra Large</span>
    </label>
  </div>
</div>
