<div class="nav">
  <strong class="nav__label">Themes</strong>
  <div class="nav__list">
    <label class="nav__link nav__link--radio nav__link--theme">
      <input type="radio" name="theme" value="auto"/><span>Auto System</span>
    </label>
    <label class="nav__link nav__link--radio nav__link--theme">
      <input type="radio" name="theme" value="light"/><span>Light</span>
    </label>
    <label class="nav__link nav__link--radio nav__link--theme">
      <input type="radio" name="theme" value="dark"/><span>Dark</span>
    </label>
  </div>
</div>

<div class="nav">
  <strong class="nav__label">Font Size</strong>
  <div class="nav__list">
    <label class="nav__link nav__link--radio nav__link--font-size">
      <input type="radio" name="font-size" value="12"/><span>Small</span>
    </label>
    <label class="nav__link nav__link--radio nav__link--font-size">
      <input type="radio" name="font-size" value="14"/><span>Default</span>
    </label>
    <label class="nav__link nav__link--radio nav__link--font-size">
      <input type="radio" name="font-size" value="16"/><span>Large</span>
    </label>
    <label class="nav__link nav__link--radio nav__link--font-size">
      <input type="radio" name="font-size" value="18"/><span>Extra Large</span>
    </label>
  </div>
</div>
