.callout {
  border: 1px solid var(--callout-border);
  background-color: var(--callout-bg);
  display: block;
  margin: 1rem;
  box-shadow: var(--base-shadow);

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-block-end: 1px solid var(--callout-border);
    margin-block-end: -1px;
    color: var(--callout-color);
    cursor: pointer;
    user-select: none;

  }

  &__title {
    color: var(--callout-color);
  }

  &__body {
    padding: 1rem;
  }
}
