@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.pagination {
  @include m.flex-justify(center, center);
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  gap: 0.5rem;

  .page-item {
    border-radius: 0.25rem;
    overflow: hidden;
  }

  .page-link {
    @include m.flex-justify(center, center);
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--base-border);
    border-radius: 0.25rem;
    transition:
      background-color 0.2s ease,
      color 0.2s ease;
    font-size: v.$fs-4xl;
  }

  .page-link:hover:not([aria-disabled="true"]):not([aria-current="page"]) {
    background-color: var(--second-bg);
  }

  .page-item.active .page-link {
    font-weight: bold;
    background-color: var(--third-bg); 
    cursor: default;
  }

  /* disabled pages */
  .page-item.disabled .page-link {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  .page-link span[aria-hidden="true"] {
    font-size: 0.9rem;
  }
}
