@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.tab-control {
  display: none;
}

@include b.min(md) {
  .tab-control {
    @include m.flex-justify(space-between, center);
    border-bottom: 1px solid var(--base-border);
    margin-top: 2rem;

    &__col {
      @include m.flex-justify(start, center);
      margin-block-end: -1px;

      &--start {
        margin-inline-start: -1px;
      }

      &--end {
        margin-inline-end: -1px;
      }
    }

    &__btn {
      z-index: 2000;
      margin-inline-end: -1px;
      border-inline: 1px solid var(--base-border);
      padding: 0.25rem 1.5rem;
      background: linear-gradient(
        0deg,
        var(--primary) 0%,
        var(--primary-bg) 15%,
        var(--base-bg) 100%
      );
      font-size: v.$fs-sm;

      &--is-active {
        background: var(--base-bg);
      }

      &--disable {
        color: var(--danger);
      }
    }
  }
  .tab-pane {
    display: none;

    &--is-active {
      display: block;
    }
  }
}
