@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

html {
  @include m.custom-scrollbar(var(--base-border), var(--primary));
  font-size: v.$fs-base;
  font-family: v.$font-sans;
  background-color: var(--second-bg);
  color: var(--base-color);
  overflow-x: hidden;
}

.sr-only {
  @include m.visually-hidden();
}

.icon {
  @include m.size(v.$fs-base);
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
}
