@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/breakpoints" as b;

// HEADER
.header {
  @include m.flex-justify(space-between, center);
  @include m.width-height(100%, 4rem);
  position: sticky;
  inset-block-start: 0;
  background-color: var(--second-bg);
  border-block-end: 2px solid var(--base-border);
  padding-inline: 1rem;
  box-shadow: var(--base-shadow);
  z-index: 500;

  &__title {
    font-size: v.$fs-8xl;
    font-weight: bold;
    font-family: v.$font-serif;
    color: var(--second-color);
    text-shadow: var(--second-text-shadow);
  }

  &__button {
    color: var(--second-color);
  }

  &__icon {
    @include m.size(v.$fs-10xl);
    color: var(--second-color);
  }
}

// SIDEBAR
.sidebar {
  @include m.custom-scrollbar(var(--base-border), var(--primary));
  @include m.width-height(200px, 100dvh);
  @include m.transition(inset-inline-start, visibility);
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  inset-block-start: 0;
  background-color: var(--second-bg);
  border-inline-end: 1px solid var(--base-border);
  position: fixed;
  inset-inline-start: -100%;
  visibility: hidden;
  z-index: 1000;

  &__btn-close {
    position: absolute;
    inset-inline-end: 1rem;
    inset-block-start: 1rem;
  }

  &__btn-icon {
    @include m.size(v.$fs-8xl);
  }

  &--is-active {
    inset-inline-start: 0;
    visibility: visible;
  }

  .brand {
    @include m.flex-justify(center, center);
    flex-direction: column;
    margin-block-end: 2rem;

    &__logo {
      width: 100px;
    }

    &__title {
      font-family: v.$font-serif;
      font-style: normal;
      font-weight: 700;
      font-size: v.$fs-7xl;
      color: var(--second-color);
      text-shadow: var(--base-text-shadow);
    }
  }

  .search-bar {
    border: 1px solid var(--base-border);
    box-shadow: var(--base-shadow);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
  }

  .search-form {
    &__input {
      outline: none;
    }
  }

  .nav {
    padding: 1rem;
    margin-block: 1rem 1.5rem;
    border: 1px solid var(--base-border);
    border-radius: 0.25rem;
    box-shadow: var(--base-shadow);

    &__label {
      margin-block: 0rem 0.75rem;
      display: block;
      font-size: v.$fs-xl;
    }

    &__list {
      display: grid;
    }

    &__link {
      @include m.text-ellipsis();
      display: inline-flex;
      align-items: center;
      padding: 0.20rem;
      gap: 0.25rem;
      color: var(--primary);
      text-align: start;
      font-size: v.$fs-sm;
      cursor: pointer;

      &--disable {
        color: var(--third-color);
      }
    }
  }
}

footer {
  padding-block: 1rem 8rem;
  padding-inline: 2rem;
}

@include b.min(md) {
  body {
    display: grid;
    grid-template-columns: 200px minmax(0, 1fr);
    grid-template-areas:
      "sidebar main"
      "sidebar main"
      "sidebar footer";
    grid-template-rows: repeat(3, minmax(0, auto));
    max-width: 1400px;
    margin: 0 auto;
    background-color: var(--second-bg);
  }

  .header {
    display: none;
  }

  .sidebar {
    grid-area: sidebar;
    visibility: visible;
    inset-inline-start: 0;
    position: relative;
    height: max-content;
    border: none;
    transition: none;

    .nav--mobile-only, 
    &__btn-close {
      display: none;
    }
  }

  .main {
    grid-area: main;
    background-color: var(--base-bg);
    border: 1px solid var(--base-border);
    border-inline-end: none;
    border-block-start: none;
  }

  .footer {
    grid-area: footer;
  }
}
