@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.sidebar {
  @include m.custom-scrollbar(var(--base-border), var(--primary));
  @include m.width-height(200px, 100dvh);
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  inset-inline-start: 0;
  inset-block-start: 0;
  background-color: var(--second-bg);
  border-inline-end: 1px solid var(--base-border);
  position: fixed;
}

.brand {
  @include m.flex-justify(center, center);
  flex-direction: column;
  
  &__logo {
    width: 100px;
  }

  &__title {
    font-family: v.$font-serif;
    font-style: normal;
    font-weight: 700;
    font-size: v.$fs-7xl;
    color: var(--second-color);
    text-shadow: var(--base-text-shadow);
  }
}

.search-bar {
  border: 1px solid var(--base-border);
  box-shadow: var(--base-shadow);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.search-form {
  &__input {
    outline: none;
  }
}

.nav {
  padding: 1rem;
  margin-block: 1rem 1.5rem;
  border: 1px solid var(--base-border);
  border-radius: 0.25rem;
  box-shadow: var(--base-shadow);

  &__list {
    display: grid;
  }

  &__link {
    color: var(--primary);
    text-align: start;
  }
}