@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/breakpoints" as b;

:where(.markdown) {
  color: var(--base-color);
  line-height: 1.65;
  max-width: 100%;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
  word-break: normal;
  overflow-wrap: anywhere;
  hyphens: auto;
  padding: 1em;
  
  #viewPage {
    font-size: var(--md-font-default);
  }

  :is(h1, h2, h3, h4, h5, h6) {
    color: var(--second-color);
    line-height: 1.75;
  }

  :is(h1, h2) {
    border-block-end: 1px solid var(--second-border);
    font-family: v.$font-serif;
  }

  h1 {
    font-size: v.$fs-10xl;
  }

  h2 {
    font-size: v.$fs-8xl;
  }

  :is(h2, h3, h4, h5, h6) {
    margin-block: 2em 1.5em;
  }

  :is(h3, h4, h5, h6) {
    font-size: v.$fs-3xl;
    font-weight: bold;
  }

  p {
    margin-block: 1em 1.5em;
  }

  a {
    color: var(--primary);
    text-decoration: underline;

    &:hover {
      color: var(--primary-text-emphasis);
    }
  }

  .link-broken,
  .broken-link {
    color: var(--danger);
    cursor: not-allowed;
  }

  :is(ul, ol) {
    padding-inline-start: 2em;
    margin: 1.5em 0;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  :is(ul li, ol li) {
    margin: 0.5em 0;
  }

  :is(ul ul, ol ol, ul ol, ol ul) {
    margin: 0.5em 0;
    padding-inline-start: 2em;
  }

  hr {
    margin-block: 3em;
    display: block;
    border: none;
    width: 100%;
    height: 3px;
    background-color: var(--third-border);
  }

  mark {
    padding-inline: 0.25em;
    border-radius: 0.25em;
    border: 1px solid var(--base-border);
    margin-inline: 0.25em;
  }

  del {
    color: var(--third-color);
  }

  :is(strong, b) {
    color: var(--second-color);
    font-weight: 700;
  }

  dl {
    margin-block: 1.75em;
  }

  dt {
    padding-block-end: 0.25em;
    font-weight: 600;
    color: var(--second-color);
    border-block-end: 1px dashed var(--third-border);
  }

  dd {
    margin: 0.5em;
    padding-inline-start: 1em;
    color: var(--third-color);
    border-inline-start: 3px solid var(--primary-border);
  }

  @include b.min(md) {
    padding: 2em;
  }
}

// TABLE
.table-container {
  @include m.custom-scrollbar(var(--base-border), var(--primary));
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  margin: 1.5em 0;
  border-radius: 0.25em;

  table {
    width: 100%;
    border-collapse: collapse;
    min-width: 65ch;
    background-color: var(--base-bg);
  }

  thead {
    background-color: var(--second-bg);
  }

  th {
    text-align: start;
    padding: 1em 1.5em;
    font-weight: 600;
    color: var(--third-color);
    border-block-end: 2px solid var(--base-border);
    white-space: nowrap;
  }

  td {
    padding: 1em 1.5em;
    border-block-end: 2px solid var(--base-border);
    color: var(--color-text-muted);
    white-space: nowrap;
  }

  tbody tr:hover {
    background-color: var(--second-bg);
    transition: background-color 0.2s ease-in-out;
  }

  tbody tr:nth-child(even) {
    background-color: var(--second-bg);
  }
}

// BLOCKQUOTE
.blockquote {
  margin-block: 1.5em;
  padding-inline-start: 1em;
  color: var(--third-color);
  border-inline-start-width: 0.25em;
  border-inline-start-color: var(--primary);
  quotes: "“" "”" "‘" "’";
  font-style: italic;
  font-family: v.$font-serif;
  font-weight: 600;

  p:first-of-type::before {
    content: open-quote;
  }

  p:last-of-type::after {
    content: close-quote;
  }

  p:first-of-type::before,
  p:last-of-type::after {
    font-size: v.$fs-2xl;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #viewPage,
  #viewPage * {
    visibility: visible;
  }
}
