@use './variables' as v;
@use "sass:map";

// =====================
// MIN WIDTH
// =====================
@mixin min($breakpoint) {
  @if map.has-key(v.$breakpoints, $breakpoint) {
    @media screen and (min-width: map.get(v.$breakpoints, $breakpoint)) {
      @content;
    }
  } @else if type-of($breakpoint) == number {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found. Available breakpoints: #{map-keys(v.$breakpoints)}";
  }
}

// =====================
// MAX WIDTH
// =====================
@mixin max($breakpoint) {
  @if map.has-key(v.$breakpoints, $breakpoint) {
    @media screen and (max-width: map.get(v.$breakpoints, $breakpoint)) {
      @content;
    }
  } @else if type-of($breakpoint) == number {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found. Available breakpoints: #{map-keys(v.$breakpoints)}";
  }
}

// =====================
// BETWEEN WIDTH
// =====================
@mixin between($from, $to) {
  @if map.has-key(v.$breakpoints, $from) and map.has-key(v.$breakpoints, $to) {
    @media screen and (min-width: map.get(v.$breakpoints, $from)) and (max-width: map.get(v.$breakpoints, $to)) {
      @content;
    }
  } @else if type-of($from) == number and type-of($to) == number {
    @media screen and (min-width: $from) and (max-width: $to) {
      @content;
    }
  } @else {
    @warn "One or both breakpoints not found. Available breakpoints: #{map-keys(v.$breakpoints)}";
  }
}
