<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" data-theme="dark">
<head>
  {{ partial "head/theme_init" . }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
  {{- partial "head/ga" . -}}
  {{- partial "head/og" . -}}
  {{- partial "head/schema" . -}}
  {{- partial "head/twitter_cards" . -}}
  {{- range site.Params.favicons -}}
    <link
      rel="{{- .rel -}}"
      {{- with .type -}}type="{{- . -}}"{{- end -}}
      {{- with .size -}}sizes="{{- . -}}"{{- end -}}
      href="{{- .href | absURL -}}"
    />
  {{- end -}}
  <link rel="manifest" href="{{- "manifest.json" | absURL -}}" />
  <link rel="sitemap" type="application/xml" href="{{- "sitemap.xml" | absURL -}}"/>
  <meta name="robots" content="index, follow" />
  {{ partial "head/sass" . }}
  {{ partial "head/js" . }}
</head>
<body>
  {{ partial "header" . }}
  {{ partial "sidebar" . }}
  <main class="main">
    {{ partial "components/tab-control-desktop" . }}
    <div class="markdown">
      <article class="tab-pane tab-pane--is-active" id="viewPage">
        {{ partial "components/main" . }}
        {{ partial "components/taxonomy-term" . }}
      </article>
      <aside class="tab-pane" id="viewDiscussion">{{ partial "components/discussion" }}</aside>
      <aside class="tab-pane" id="viewHistory">{{ partial "components/history" . }}</aside>
    </div>
  </main>
  {{ partial "footer" . }}
</body>
</html>